<!doctypeHTML>
<div class="container">

  <h2>Content List</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Brand</th>
      <th>Name</th>
      <th>Colour</th>
      <th>Admin</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of phoneList" [routerLink]="['/contents',content.id ]">
       <td>{{ content.id }}</td>
      <td>{{ content.brand }}</td>
      <td>{{ content.name }}</td>
      <td>{{ content.colour }}</td>
      <td>{{ content.isAdmin ? 'Yes' : 'No' }}</td>
    </tr>
    </tbody>
  </table>

</div>
<div *ngIf="error" class="error">{{ error }}</div>
